:root {
    --font-size: 14px;
    --theme-color: #1a73e8;
    --darker-theme-color: #174ea6;
    --error-color: #c5221f;
    --grey: #5f6368;
}

#attendance-container {
    width: 324px;
    max-width: 356px;
    padding: 0px 16px;
    margin: 12px 0px;
    font-family: "Google Sans";

    font-size: var(--font-size);

    color: var(--grey);
}
#attendance-container .attendance-content {
    display: flex;
    padding: 0 8px;
    flex-direction: column;
}
#attendance-container .attendance-content > :not(:last-child) {
    margin-bottom: 8px;
}
#attendance-container .attendance-content .settings {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .name {
    display: flex;
    align-items: center;
}
.container .name label {
    margin-left: 1em;
}

#period-time {
    background-color: white;
    font-size: var(--font-size);
    color: inherit;
    padding: 0.3em 0.2em;
    border: solid 1px var(--grey);
    border-radius: 5px;
}
#class-list, #filter-list {
    background-color: white;
    padding: 0.3em 0.2em;
    font-family: 'Google Sans';
    font-size: var(--font-size);
    color: inherit;
    border-radius: 7%;
}

.student-attendance-list {
    width: auto;
    height: auto;

    margin: 0;
    padding: 0;

    list-style-type: none;
}
.export-button {
    color: var(--theme-color);
    margin-left: auto;
    background: white;
}
.student-names {
    font-family: 'Google Sans';
    margin: 0.25em 0.5em;
    font-weight: 500;
}
.student-attendance-list-item {
    background-color: white;
    margin: 0 0 8px 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.student-attendance-list-item p {
    color: inherit;
    margin: 0;
}
.student-attendance-list-item button {
    padding: 6px;
    border: none;
    background-color: white;
    font-size: 16.5px;
}

.no-class-message {
    text-align: center;
    font-size: var(--font-size);
    display: none;
}