:root {
    --font-size: 14px;
    --title-size: 18px;
    --theme-color: #1a73e8;
    --darker-theme-color: #174ea6;
    --error-color: #c5221f;
    --light-grey: #ccc;
    --grey: #5f6368;
}
* {
    padding: 0;
    margin: 0;
}

body {
    font-size: var(--font-size);
    font-family: 'Open Sans';
    width: 10rem;
    padding: 0.5rem 1rem;
}
hr {
    border-top: 1px solid rgba(0,0,0,0.12);
    margin: 0.5rem 0;
}
header {
    font-size: var(--title-size);
    display: flex;
    align-items: center;
    text-align: center;
}
header a {
    margin-left: auto;
    color: currentColor;
    text-decoration: none;
}
main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button {
    padding: 0.3em 0.2em;
    border: none;
    border-radius: 10px;
    width: 2rem;
    height: 2rem;
    color: white;
}
.add {
    background: var(--theme-color);
}
.edit {
    background: var(--darker-theme-color);
}
.del {
    background: var(--error-color);
}
.language-choice {
    border: 1px solid var(--grey);
    border-radius: 5px;
}
.language-choice:hover {
    border: 1px solid black;
}

.hover-state:hover {
    filter: brightness(90%);
}